@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');

h1 {
    font-size: 50px;
}

h1 span {
    color: orange;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    display: flex;
}

.text-area {
    width: 50%;
    padding: 5%;
}

.text-area img {
    width: 80%;
}

section a {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    color: #fff;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}